:root {
	--primary-color: #2C57A0;
	--secondary-color: #FFC700;
	--title-color: #223D71;
	--navigation-background: #E9EEF5;
	--footer-background: #F9FAFB;
	--cart-details-background: #F2F4F7;
	--container-width: 1512px;
	--container-padding: 1rem 7.5rem;
	--nav-links-color: #344054;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serf;
}

a {
	text-decoration: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

input {
	outline: none;
}

.container {
	max-width: var(--container-width);
	padding: var(--container-padding);
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 100%;
		padding: 1.25rem;
	}
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.top-bar {
	width: 100%;
	height: 5px;
	background-color: var(--secondary-color);
}

.top-header {
	max-width: var(--container-width);
	padding: var(--container-padding);
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: var(--navigation-background);
}

.nav-links {
	max-width: var(--container-width);
	padding: var(--container-padding);
	color: var(--nav-links-color);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
}

.nav-links button {
	margin-right: 2rem;
}

.nav-links button:last-of-type {
	margin-right: 0;
}

.logo {
	width: 85px;
	margin-right: 2rem;
}

.search-bar {
	position: relative;
	max-width: 765px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.search-bar input {
	width: 100%;
	padding: 1rem;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #D0D5DD;
	border-radius: 8px;
}

.search-bar button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 52px;
	border: 1px solid var(--primary-color);
	border-radius: 0px 8px 8px 0px;
	background-color: var(--primary-color);
}

.search-icon {
	width: 1.25rem;
	height: 1.25rem;
}

.right-nav {
	display: flex;
	align-items: center;
	margin-left: 5rem;
}

.right-nav>.separator {
	margin: 0 1.5rem;
}

.user {
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.user-cta {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

.semibold-font {
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	color: var(--primary-color);
}

.medium-font {
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: var(--primary-color);
}

.separator {
	width: 1px;
	height: 18px;
	background: var(--primary-color);
	border-radius: 2px;
}

.nav-cart {
	display: flex;
	align-items: center;
}

.nav-cart .medium-font {
	line-height: 20px;
}

.cart-icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

.breadcrumbs {
	width: 100%;
	padding: var(--container-padding);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #EAECF0;
}

.home-icon {
	width: 1.25rem;
	height: 1.25rem;
}

.chevron-right {
	width: 1rem;
	height: 1rem;
	margin: 0 0.5rem;
}

.breadcrumbs-text {
	color: #101828;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -0.02em;
	color: var(--title-color);
}

hr {
	margin: 1.75rem 0;
	width: 5rem;
	height: 4px;
	border: none;
	background-color: var(--secondary-color);
}

.main-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4rem 19rem;
}

.products-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.product {
	max-width: 716px;
	width: 100%;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-img {
	width: 128px;
	height: 128px;
	border: 1px solid #D0D5DD;
	border-radius: 8px;
}